
<div class="card my-2">

    <div class="card-body">

        <h2>Meal</h2>

        <p>
            <strong>Location: </strong> {{ this._event.mealName }}<br/>
            <strong>Address: </strong> {{ this._event.mealAddress }} <br />
            <strong>Date: </strong> {{this._event.mealTime}} - {{this._event.mealDate | date: 'dd/MM/yyyy' }} <br />
        </p>

    </div>

</div>

<app-meal-form *ngIf="showForm && this._event && this._attendees && isUserAttending(this.userId)" [_event]="this._event" [_attendees]="this._attendees" [_selectedMeal]="_selectedMeal" [_editing]="_editing" (submittedForm)="refresh($event)"></app-meal-form>

<div class="card my-2">

    <div class="card-body">

        <h2>Confirmed Attendance</h2>

        <app-meal-attendance *ngIf="this._event && this._attendees" [_event]="this._event" [_attendance]="this._attendees" (editPrompt)="editForm($event)"></app-meal-attendance>

    </div>

</div>
