
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard/events', eventId]"><i class="fas fa-users"></i> Attendance</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard/hotel', eventId]"><i class="fas fa-bed"></i> Hotel</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard/jerseys', eventId]"><i class="fas fa-box"></i> Jerseys</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard/meal', eventId]"><i class="fas fa-utensils"></i> Meal</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard/comps', eventId]"><i class="fas fa-trophy"></i> Competitions</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard/quiz', eventId]"><i class="fas fa-beer"></i> Pub Quiz</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard/seating', eventId]"><i class="fas fa-magic"></i> Seating Plan</a>
    </li>

    <li class="nav-item d-block d-lg-none">
        <a class="nav-link" [routerLink]="['/dashboard/profile', userId]">View Profile</a>
    </li>

    <li class="nav-item d-block d-lg-none">
        <a class="nav-link" routerLink="/logout">Sign out</a>
    </li>
</ul>


