<div class="card my-2">

    <div class="card-body">
        <h2>
            Pub Quiz <button *ngIf="isAdmin" class="btn btn-primary float-right" (click)="toggleAddTable()">Add Table</button>
        </h2>
    </div>

</div>



<app-table-form (notify)='formSubmitted($event)' *ngIf="showForm" [_event]="_event" [_attendees]="_attendees" [editing]="editing" [selectedTable]="selectedTable"></app-table-form>
<app-table-list *ngIf="_event" [_event]="_event" [_attendees]="_attendees" (editNotify)="editTable($event)" (refreshNotify)="refreshTable()"></app-table-list>