<div *ngFor="let booking of bookings">
    <div class="card">

        <div class="card-header">
            {{booking.booking.bookedBy}} (Cost: {{ booking.booking.totalCost | currency: 'GBP' : 'symbol-narrow' :'1.2-2'}})
            <button *ngIf="isAdmin"class="btn btn-danger float-right" (click)="deleteBooking(booking._id)"><span class="fas fa-trash"></span></button>
            <button *ngIf="isAdmin" class="btn btn-primary float-right" routerLink="{{'/dashboard/edit/booking/' + booking._id}}"><span class="fas fa-edit"></span></button>
        </div>

        <div class="card-body">

            <table class="table">
                <thead>
                <th></th>
                <th *ngFor="let g of calcBiggestRoom(booking); let i = index">Guest {{ i + 1}}</th>
                <th>Prices</th>
                </thead>
                <tbody>

                <tr *ngFor="let room of booking.booking.rooms; let ri = index">
                    <td>Room {{ ri + 1}}</td>

                    <td *ngFor="let occupant of calcBiggestRoom(booking); let oi = index">

                        {{ booking.booking.rooms[ri]?.roomOccupants[oi] }}

                    </td>
                    <td>

                        <strong>Room Cost:</strong> {{ (booking.booking?.totalCost / booking?.booking.rooms.length) | currency: 'GBP' : 'symbol-narrow' :'1.2-2' }} <br />
                        <strong>Per Person Cost:</strong> {{ (booking.booking?.totalCost / booking.booking?.rooms.length) / booking.booking.rooms[ri]?.roomOccupants.length | currency: 'GBP' : 'symbol-narrow' :'1.2-2' }}

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<button *ngIf="isAdmin" class="btn btn-success" [routerLink]="['/dashboard/new/booking/', _event._id]">New Booking</button>