<div *ngFor="let booking of bookings">
    <div class="card my-2">
        <div class="card-body">

            <h2>
                {{booking.bookedBy.discord.username + '#' + booking.bookedBy.discord.discriminator}} (Cost: {{ booking.totalCost | currency: 'GBP' : 'symbol-narrow' :'1.2-2'}})
                <button *ngIf="isAdmin"class="btn btn-danger float-right" (click)="deleteBooking(booking._id)"><span class="fas fa-trash"></span></button>
                <button *ngIf="isAdmin" class="btn btn-primary float-right" (click)="editBooking(booking._id)"><span class="fas fa-edit"></span></button>
            </h2>



            <table class="table">
                <thead>
                <th></th>
                <th *ngFor="let g of calcBiggestRoom(booking); let i = index">Guest {{ i + 1}}</th>
                <th>Prices</th>
                </thead>
                <tbody>

                <tr *ngFor="let room of booking.rooms; let ri = index">
                    <td>Room {{ ri + 1}}</td>

                    <td *ngFor="let occupant of calcBiggestRoom(booking); let oi = index">

                        {{ booking.rooms[ri]?.roomOccupants[oi].discord.username + '#' + booking.rooms[ri]?.roomOccupants[oi].discord.discriminator}}

                    </td>
                    <td>

                        <strong>Room Cost:</strong> {{ (booking.totalCost / booking?.rooms.length) | currency: 'GBP' : 'symbol-narrow' :'1.2-2' }} <br />
                        <strong>Per Person Cost:</strong> {{ (booking.totalCost / booking?.rooms.length) / booking.rooms[ri]?.roomOccupants.length | currency: 'GBP' : 'symbol-narrow' :'1.2-2' }}

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
