<div class="card my-2" *ngFor="let comp of _comps">
    <div class="card-body">
        <h2>
            {{comp.game}}
            <button class="btn btn-primary float-right" type="button" (click)="editComp(comp._id)"><span class="fas fa-edit"></span></button>
            <button class="btn btn-danger float-right" type="button" (click)="removecomp(comp._id)"><span class="fas fa-trash"></span></button>
        </h2>
        <h3>{{comp.teamName}}</h3> <br />

        <table class="table">

            <thead>
                <th> </th>
                <th *ngFor="let th of getTeamArraySize(comp); let i = index">{{'Member ' + (i + 1)}}</th>
            </thead>

            <tbody>
                <tr>
                    <td>Main Team</td>
                    <td *ngFor="let m of comp.mainTeam"> {{ m.discord.username + '#' + m.discord.discriminator }}</td>
                </tr>

                <tr>
                    <td>Subs</td>
                    <td *ngFor="let s of comp.subs"> {{ s.discord.username + '#' + s.discord.discriminator }}</td>
                </tr>
            </tbody>

        </table>


    </div>

</div>