var config = {
	development: {

		site: {

		},
		database: {
			host:   'mongodb://localhost',
			db:     '/clanplanner',
			getCredentials: function () {
				return this.host + this.db;
			}
		},
		auth: {
			discord:{
				scopes: ['identify', 'email'],
				clientID: '',
				clientSecret: '',
				callbackURL: 'http://localhost:3000/auth/discord/callback'
			},
			token: {
				secret: '',
				expiresInMinutes: 10,
				issuer: 'dev.local'
			},
			cookie: {
				name: 'auth'
			}
		}
	},
	production: {

	}
};
module.exports = config;