
<div class="card my-2">

    <div class="card-body">

        <h1 class="border-bottom">{{ this._event?.name }} <button class="btn btn-primary float-right" [routerLink]="['/dashboard/edit/event/', this._event?._id]"><span class="fas fa-cog"></span></button></h1>
        <!--<app-event-stats></app-event-stats> -->

    </div>

</div>





<app-attendee-form [_event]="this._event" [_attendee]="this._attendee" [_editing]="this._editing" *ngIf="this._attendee" (savedForm)="savedForm($event)"></app-attendee-form>
<app-attendee-list [_event]="this._event" [_attendees]="this._attendees"></app-attendee-list>




