<!--<div class="container">

    <div class="row align-items-center">

        <div class="col-sm-6 my-3">

            <img src="/assets/logo-black.png" class="img-fluid my-2" height="150" width="150">

        </div>

    </div>

    <div class="row align-items-center">

        <div class="card my-3">

            <div class="card-body">

                <div class="col-sm-6 offset-sm-3">

                    <button onclick="location.href='/auth/discord'" class="btn btn-outline-dark btn-lg" type="button"><span class="fab fa-discord"></span> Login with Discord</button>

                </div>

            </div>

        </div>

    </div>

</div>-->

<div class="container">

    <div class="d-flex justify-content-center flex-column">


        <img src="/assets/logo-black.png" class="img-fluid mx-auto my-3" height="150" width="150">


        <div class="card">

            <div class="card-body text-center">

                <h3 class="text-left">LAN Planner</h3>

                <p class="text-left">
                    LAN Planner is Blackout's planning tool to keep track of who is doing what when it comes down to real life events. <br />
                    It's easy and free to use. Hit login with discord to get started.
                </p>

                <button onclick="location.href='/auth/discord'" class="btn btn-outline-dark btn-lg" type="button"><span class="fab fa-discord"></span> Login with Discord</button>

            </div>

        </div>

    </div>

</div>

