
<div class="card my-2">
    <div class="card-body">
        <h1>Jerseys</h1>

        <p>
            <strong>Size Chart: </strong> <a href="{{this._event.jerseySizeChart}}">{{this._event.jerseySizeChart}}</a> <br />
            <strong>Payment Link: </strong> <a href="{{this._event.jerseyPaymentLink}}">{{this._event.jerseyPaymentLink}}</a> <br />
            <strong>Design: </strong> <a href="{{this._event.jerseyDesignLink}}">{{this._event.jerseyDesignLink}}</a> <br />
        </p>

    </div>
</div>

<app-add-jersy *ngIf="_event && selectedUser" [_event]="_event" [_selectedUser]="selectedUser" [_editing]="editing" (notify)='submittedForm($event)'></app-add-jersy>

<div class="card my-2">
    <div class="card-body">
        <app-show-jerseys *ngIf="_event" [_event]="_event" (notify)='onNotify($event)'></app-show-jerseys>
    </div>
</div>


