<h2>Confirmed Jerseys</h2>
<div *ngIf="jerseys">
    <table class="table">
        <thead>
        <tr>
            <th>User</th>
            <th>Size</th>
            <th>Paid</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let jersey of jerseys">
            <td>{{ jersey.user.discord.username + '#' + jersey.user.discord.discriminator }}</td>
            <td>{{ jersey.hidden ? 'Hidden' : jersey.size}} {{ (jersey.hidden && admin) ? '(' + jersey.size + ')' : ''}}</td>
            <td>{{ jersey.paid ? 'Yes' : 'No'}}</td>
            <td *ngIf="admin || jersey.user._id === userId">
                <button class="btn btn-primary" (click)="editJersey(jersey.user._id)">
                    <span class="fas fa-edit"></span>
                </button>

                <button class="btn btn-danger" (click)="deleteJersey(jersey.user._id)">
                    <span class="fas fa-times"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!jerseys">
Not Found
</div>