<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ event?.name }}</h1>
</div>


<div class="row">
    <div class="col-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Attendees</h5>
                <p class="card-text">{{ attendees?.length }}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Tickets Purchased</h5>
                <p class="card-text">{{ this.ticketsPurchased }} / {{ this.attendees?.length }}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Seat Selected</h5>
                <p class="card-text">{{ this.seatsSelected }} / {{ this.attendees?.length }}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Blaze It</h5>
                <p class="card-text">420</p>
            </div>
        </div>
    </div>
</div>

<ngb-tabset>
    <ngb-tab title="Attendance">

        <ng-template ngbTabContent>

            <br />

            <div class="card" *ngIf="isUserAttending(attendee?.userId, attendees)">

                <div class="card-header">
                    Attendance Settings
                </div>
                <div class="card-block">

                    <form [formGroup]="attendeeForm" (ngSubmit)="submitForm()">
                        <div class="form-group row">
                            <label for="realName" class="col-1 col-form-label">Real Name</label>
                            <div class="col-2">
                                <input class="form-control" type="text" id="realName" formControlName="realName">
                            </div>
                            <label class="col-1 col-form-label" for="ticketPurchasedSelect">Ticket Purchased</label>
                            <div class="col-2">
                                <select class="custom-select" id="ticketPurchasedSelect" formControlName="ticketPurchasedSelect" required>
                                    <option *ngFor="let t of tickets" [ngValue]="t">

                                        {{ t ? 'Yes' : 'No'}}

                                    </option>
                                </select>
                            </div>

                            <label class="col-1 col-form-label" for="seatPickerSelect">On Seat Picker</label>
                            <div class="col-2">
                                <select class="custom-select" id="seatPickerSelect" formControlName="seatPickerSelect" required>
                                    <option *ngFor="let s of seatPicker" [ngValue]="s">
                                        {{ s ? 'Yes' : 'No'}}
                                    </option>
                                </select>
                            </div>

                            <label class="col-1 col-form-label" for="inFacebookChat">In Facebook Chat</label>
                            <div class="col-2">
                                <select class="custom-select" id="inFacebookChat" formControlName="inFacebookChat" required>
                                    <option *ngFor="let f of facebookChat" [ngValue]="f">
                                        {{ f ? 'Yes' : 'No'}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="arrivalDate" class="col-1 col-form-label">Arrival Date</label>
                            <div class="col-2">
                                <input class="form-control" type="date" id="arrivalDate" formControlName="arrivalDate" required>
                            </div>
                            <label class="col-1 col-form-label" for="accommodationSelect">Accommodation</label>
                            <div class="col-2">
                                <select class="custom-select" id="accommodationSelect" formControlName="accommodationSelect" required>
                                    <option value="" disabled>Select</option>
                                    <option *ngFor="let a of accomodation" [ngValue]="a">
                                        {{ a }}
                                    </option>
                                </select>
                            </div>
                            <label class="col-1 col-form-label" for="transportSelect">Transport</label>
                            <div class="col-2">
                                <select class="custom-select" id="transportSelect" formControlName="transportSelect" required>
                                    <option value="" disabled>Select</option>
                                    <option *ngFor="let t of transport" [ngValue]="t">
                                        {{ t }}
                                    </option>
                                </select>
                            </div>
                            <label class="col-1 col-form-label" for="location">Location</label>
                            <div class="col-2">
                                <input class="form-control" type="text" id="location" formControlName="location" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <button type="submit" class="btn btn-primary col-1">Submit</button>
                            <div class="col-2">
                                <span *ngIf="submitted">Saved</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br />

            <div class="card">
                <div class="card-header">
                    Attendee's
                </div>
                <div class="card-block">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Discord Name</th>
                            <th>Real Name</th>
                            <th>Brought Ticket</th>
                            <th>On Seat Picker</th>
                            <th>Arrival Date</th>
                            <th>Accommodation</th>
                            <th>Transport</th>
                            <th>Location</th>
                            <th>In Facebook Chat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let attendee of attendees">

                            <td>
                                <img class="img-thumbnail rounded-circle" width="100" height="100" *ngIf="attendee.discord.avatar !== null" src="{{ 'http://cdn.discordapp.com/avatars/' + attendee.discord.id + '/' + attendee.discord.avatar }}">
                                <img class="img-thumbnail rounded-circle" width="100" height="100" *ngIf="attendee.discord.avatar === null" src="http://placehold.it/100x100">
                            </td>
                            <td>{{ attendee?.discord.username + '#' + attendee.discord.discriminator }}</td>
                            <td>{{ attendee?.realName }}</td>
                            <td>{{ attendee?.broughtTicket ? 'Yes' : 'No' }}</td>
                            <td>{{ attendee?.onSeatPicker ? 'Yes' : 'No' }}</td>
                            <td>{{ attendee?.dateArriving | date: 'dd/MM/yyyy'}}</td>
                            <td>{{ attendee?.accommodation }}</td>
                            <td>{{ attendee?.transportPlans }}</td>
                            <td>{{ attendee?.location }}</td>
                            <td>{{ attendee?.inFacebookChat ? 'Yes' : 'No' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Hotel">

        <ng-template ngbTabContent>


        </ng-template>

    </ngb-tab>
</ngb-tabset>
