<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Event Register</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Event</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Attendance</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
        <td><a [routerLink]="['/dashboard/events', event._id]">{{ event.name }}</a></td>
        <td>{{ event.fromDate | date }}</td>
        <td>{{ event.toDate | date }}</td>
        <td>

            <button *ngIf="isUserAttending(event, userId) === true" type="button" class="btn btn-danger" (click)="registerAttendance(event._id,'false')">Unattend</button>
            <button *ngIf="isUserAttending(event, userId) === false" type="button" class="btn btn-success" (click)="registerAttendance(event._id,'true')">Attend</button>


        </td>
    </tr>
    </tbody>
</table>