
            <div class="card my-2">

                <div class="card-body">

                    <h1 class="border-bottom">
                        Event Register
                        <button type="button" class="btn bg-success float-right" routerLink="/dashboard/new/event" style="color: #ffffff" *ngIf="isAdmin">Create Event</button>
                    </h1>

                </div>

            </div>

            <div class="card my-2">

                <div class="card-body">

                    <h2>Events List</h2>

                    <table class="table" *ngIf="attendance && events">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Attendance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let event of events">
                            <td><a [routerLink]="['/dashboard/events', event._id]">{{ event.name }}</a></td>
                            <td>{{ event.fromDate | date }}</td>
                            <td>{{ event.toDate | date }}</td>
                            <td>

                                <button *ngIf="isUserAttending(event)" type="button" class="btn btn-danger" (click)="registerAttendance(event._id, false)">Unattend</button>
                                <button *ngIf="!isUserAttending(event)" type="button" class="btn btn-success" (click)="registerAttendance(event._id, true)">Attend</button>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>



