/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.form-group {
    margin: 1rem;
}

body {
    background: #f8f9fa url("/assets/dust_scratches.png");
}

.card {
    background: #ffffff !important;
    webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
