<div class="card my-2">

    <div class="card-body">
        <h1>Seating Plan</h1>

        <p>
            <strong>Seat Picker URL: </strong> <a href="{{this._event?.seatPickerUrl}}">{{this._event?.seatPickerUrl}}</a><br />
            <strong>Clan Page URL: </strong> <a href="{{this._event?.clanPage}}">{{this._event?.clanPage}}</a> <br />
            <strong>Clan Tracker URL: </strong> <a href="{{this._event?.clanTracker}}">{{this._event?.clanTracker}}</a>
        </p>

    </div>

</div>

<app-seating-plan-form *ngIf="showForm" (_savedNotify)="savedNotify($event)" [_attendance]="_attendees" [_event]="_event" [_selectedSeat]="_selectedSeat"></app-seating-plan-form>

<div class="card my-2">

    <div class="card-body">
        <app-seating-plan-list [_seats]="_seats" (_editNotify)="editNotify($event)"></app-seating-plan-list>
    </div>

</div>